/*========================
Declare variables for page
=========================*/
:root {
  /*color scheme*/
  --header-background: #58c6c8; /*Turquoise*/
  --box-background-border: #73a0d0; /*Blue*/
  --border: #87afcd; /*skyblue*/
  --sub-border: #bfe4d4; /*minty green*/
  --page-background: #263238; /*slate*/
  --box-background: #f5f5f5; /*offwhite*/
  --text: #000; /*black*/
  --headline-text: #f5f5f5; /*offwhite*/
}

/*============
Back to Basics
===============*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--page-background);
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/*=============
Text and fonts
===============*/

/*fallback fonts - never shall Times New Roman be seen again!!!*/
h1,
h2,
h3,
p,
a,
li,
code,
figcaption {
  font-family: Verdana, sans-serif;
}

/*Size matters...text size that is!*/
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  margin: 1.5rem;
}

p,
li {
  font-size: 1rem;
  line-height: 1.5rem;
}

code {
  font-style: italic;
  font-weight: bold;
}

/*special "Look at me" text highlights*/
.highlighter {
  font-style: italic;
  text-decoration: underline;
  text-decoration-style: double;
  text-align: center;
  line-height: 150%;
}

/*======================
Layout - boxes in boxes
=======================*/

/*Page Header..AKA..Top of Page*/
#top {
  width: 100%;
  background-color: var(--header-background);
  border-bottom: solid 3px var(--border);
  color: var(--headline-text);
  text-shadow: 2px 2px 3px var(--page-background),
    3px 3px 4px var(--page-background), -1px -1px 3px var(--page-background);
  text-align: center;
  line-height: 4rem;
}

/*=======
Nav menu
=========*/
nav {
  width: 100%;
}

#nav-bar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
}

#nav-bar .nav-button {
  list-style: none;
  text-align: center;
  flex: 1;
  font-size: 1rem;
  line-height: 2rem;
  margin: 3px;
  border: solid 1px var(--page-background);
}

#nav-bar .nav-button a {
  color: var(--headline-text);
  text-decoration: none;
}

#nav-bar .nav-button a:link {
  text-shadow: 1px 1px 2px var(--text);
}

#nav-bar .nav-button a:visited {
  border-bottom: solid 1px var(--header-background);
}

#nav-bar .nav-button a:focus {
  text-shadow: 1px 1px 2px var(--header-background);
}

#nav-bar .nav-button:hover {
  border: solid 1px var(--headline-text);
}

#nav-bar .nav-button a:active {
  text-shadow: 1px 1px 2px var(--header-background);
}
/*======================
Main layout and sections
=======================*/
main {
  border: solid 3px var(--border);
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main section {
  border: solid 3px var(--sub-border);
  margin: 5px;
  padding-bottom: 5px;
  width: 100%;
  background-color: var(--box-background);
}

main section header {
  text-align: center;
  padding: 5px;
  margin: 0;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px var(--border), 2px 2px 2px var(--box-background);
  background-color: var(--sub-border);
}

main section .box {
  padding: 0 0.5rem;
  width: 80%;
  margin: 0 auto;
}

.box h3 {
  text-shadow: 1px 1px 1px var(--border), 2px 2px 2px var(--box-background);
  background-image: linear-gradient(
    to right,
    var(--sub-border),
    var(--box-background)
  );
  padding-left: 4px;
  border-left: solid 2px black;
}
.box p {
  padding-left: 2rem;
}
/*================
Basic List styling
=================*/

.description-list li {
  list-style: none;
}

.list-head {
  display: block;
  font-style: italic;
  font-weight: bolder;
}

/*===========================
Intro Box Section (#1 of 9)
============================*/
/*figures and images*/
figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 0.75rem;
}

/*display property needed for the image not found trick*/
figure img {
  display: relative;
}
/*===========================
Content Box Section (#2 of 9)
============================*/
#content-box-section .box p:first-of-type {
  text-align: center;
  line-height: 200%;
  margin-bottom: 1rem;
}

#content-box-section ul {
  padding-left: 4rem;
}

#content-box-section ul li {
  list-style-type: square;
}

/*===========================
Padding Box Section (#3 of 9)
============================*/
#padding-box-section .box p:first-of-type {
  text-align: center;
  line-height: 200%;
  margin-bottom: 1rem;
}

#padding-box-section ul li {
  margin: 1rem;
}

/*===========================
Border Box Section (#4 of 9)
============================*/
#border-box-section .box p:first-of-type {
  text-align: center;
  line-height: 200%;
  margin-bottom: 1rem;
}

#border-box-section .box p {
  margin-left: 1rem;
}

/*==========
Border Types
============*/
#border-box-section .border-box-list {
  list-style: none;
  width: 100%;
}

#border-box-section .border-box-list li {
  width: 30%;
  margin: 1rem 0;
  text-align: center;
  border: 4px solid black;
}

/*No Style - Control*/
#border-box-section .border-box-list #border-none {
  border: none;
}

/*Hidden*/
#border-box-section .border-box-list #border-hidden {
  border: hidden;
}

/*Dotted*/
#border-box-section .border-box-list #border-dotted {
  border: dotted;
}

/*Dashed*/
#border-box-section .border-box-list #border-dashed {
  border: dashed;
}

/*Solid*/
#border-box-section .border-box-list #border-solid {
  border: solid;
}

/*Double*/
#border-box-section .border-box-list #border-double {
  border: double;
}

/*Groove*/
#border-box-section .border-box-list #border-groove {
  border: groove;
}

/*Ridge*/
#border-box-section .border-box-list #border-ridge {
  border: ridge;
}

/*Inset*/
#border-box-section .border-box-list #border-inset {
  border: inset;
}

/*Outset*/
#border-box-section .border-box-list #border-outset {
  border: outset;
}

/*============
Border Radius
==============*/

/*List of all border radius showing that radius*/
#border-box-section .border-radius-list {
  list-style: none;
  width: 100%;
}

#border-box-section .border-radius-list li {
  width: 50%;
  margin: 1rem 0;
  text-align: center;
  border: 3px solid black;
}

/*No radius - control*/
#border-box-section .border-radius-list #border-radius-none {
  border-radius: 0;
}

/*Round*/
#border-box-section .border-radius-list #border-radius-round {
  border-radius: 5px;
}

/*Rounder*/
#border-box-section .border-radius-list #border-radius-rounder {
  border-radius: 15px;
}

/*Roundest*/
#border-box-section .border-radius-list #border-radius-roundest {
  border-radius: 50%;
}

/*skew1 - Top Right and Bottom Left vs Top Left and Bottom Right*/
#border-box-section .border-radius-list #border-radius-skew1 {
  border-radius: 15px 5px;
}

/*skew2 - Top vs Bottom */

#border-box-section .border-radius-list #border-radius-skew2 {
  border-radius: 15px 15px 0 0;
}

/*skew3 - Right vs Left*/
#border-box-section .border-radius-list #border-radius-skew3 {
  border-radius: 0 0 15px 15px;
}

/*skew4 - Right vs Left*/
#border-box-section .border-radius-list #border-radius-skew4 {
  border-radius: 0 0 15px 0;
}
/*skew5 - wonky*/
#border-box-section .border-radius-list #border-radius-skew5 {
  border-radius: 10% 50% 30% 25%;
}
/*============
Border Madness
==============*/
#border-box-section .border-radius-property {
  list-style: square;
  margin-left: 3rem;
}

#border-box-section .border-longhand-list li {
  text-align: center;
  padding: 0.5rem;
  margin: 1rem;
}
#border-box-section .border-longhand-1 {
  border-style: dotted;
}

#border-box-section .border-longhand-2 {
  border-style: dotted solid;
}

#border-box-section .border-longhand-3 {
  border-style: hidden double dashed;
}

#border-box-section .border-longhand-4 {
  border-style: none solid dotted dashed;
}

/*============
Border Image
==============*/

/*Image*/
#sample-image {
  display: block;
  margin: 0 auto;
  padding: 1rem;
}

#border-image-sample-box {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  border: 36px solid orange;
  border-image: url("https://www.w3schools.com/css/border.png") 30;
}
/*Colour Gradient*/
#border-image-gradient-sample-box {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border: 36px solid var(--border);
  border-image: linear-gradient(var(--border), var(--header-background)) 30;
}

/*============
Border Image
==============*/
/*normal looking border with shadow as a control example*/
#border-example-shadow {
  text-align: center;
  margin: 1rem;
  padding: 2rem;
  border: 36px solid var(--border);
}

/*transparant border with blurred shadow*/
#border-example-shadowwithoutborders {
}
/*======
Outline
=======*/

/*==============
Background Clip
================*/

/*Example boxes of color, colour gradient, and image to look like they are stacked on each other*/

/*No clip - control*/
/*Border Clip*/
/*Padding Clip*/
/*Content Clip*/
/*Text Clip*/

/*=================
The little touches
==================*/

/*In case of image not found*/
#box-img:after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  border: 1px dashed var(--dGreen);
  background-color: var(--silver);
  z-index: 1;
  font-family: verdana;
  font-size: 0.8em;
  content: "" attr(alt) " was not found";
}

/*Credit where credit is due - cite the creator of the image on hover*/

/*==================
Footer Link styling
===================*/
a {
}

a:link {
}

a:visited {
}

a:focus {
}

a:hover {
}

a:active {
}
/*=============
Responsiveness
===============*/

/*==========================
Ye old timer printing view
===========================*/
