/*========================
Declare variables for page
=========================*/
:root {
  /*color scheme*/
  --header-background: #58c6c8; /*Turquoise*/
  --box-background: #73a0d0; /*Blue*/
  --border: #87afcd; /*skyblue*/
  --sub-border: #bfe4d4; /*minty green*/
  --page-background: #263238; /*slate*/
  --box-background: #f5f5f5; /*offwhite*/
  --text: #000; /*black*/
  --headline-text: #f5f5f5; /*offwhite*/
}

/*============
Back to Basics
===============*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--page-background);
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/*=============
Text and fonts
===============*/

/*fallback fonts - never shall Times New Roman be seen again!!!*/
h1,
h2,
h3,
p,
a,
li,
code,
figcaption {
  font-family: Verdana, sans-serif;
}

/*Size matters...text size that is!*/
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p,
li {
  font-size: 1rem;
  line-height: 1.5rem;
}

/*special "Look at me" text highlights*/
.highlighter {
  font-style: italic;
  text-decoration: underline;
  text-decoration-style: double;
  text-align: center;
  line-height: 200%;
}

/*==================
Default Link styling
===================*/
a {
}

a:link {
}

a:visited {
}

a:focus {
}

a:hover {
}

a:active {
}

/*======================
Layout - boxes in boxes
=======================*/

/*Page Header..AKA..Top of Page*/
#top {
  width: 100%;
  background-color: var(--header-background);
  border-bottom: solid 3px var(--border);
  color: var(--headline-text);
  text-shadow: 2px 2px 3px var(--page-background),
    3px 3px 4px var(--page-background), -1px -1px 3px var(--page-background);
  text-align: center;
  line-height: 4rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

/*=======
Nav menu
=========*/
nav {
  margin-top: 4rem;
  width: 100%;
}

#nav-bar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
}

.nav-button {
  list-style: none;
  text-align: center;
  flex: 1;
  font-size: 1rem;
  line-height: 2rem;
  margin: 3px;
  border: solid 1px var(--page-background);
}

.nav-button a {
  color: var(--headline-text);
  text-decoration: none;
}

.nav-button a:link {
}

.nav-button a:visited {
}

.nav-button a:focus {
  text-shadow: 1px 1px 2px var(--header-background);
}

.nav-button:hover {
  border: solid 1px var(--headline-text);
}

.nav-button a:active {
  text-shadow: 1px 1px 2px var(--header-background);
}
/*======================
Main layout and sections
=======================*/
main {
  border: solid 3px var(--border);
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

section {
  border: solid 3px var(--sub-border);
  margin: 5px;
  padding: 5px;
  width: 100%;
  background-color: var(--box-background);
}

section header {
  text-align: center;
  padding: 5px;
}

/*figures and images*/
figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1rem;
  position: relative;
}

/*===========
List styling
=============*/

.description-list li {
  list-style: none;
}
.list-head {
  display: block;
  font-style: italic;
  font-weight: bolder;
}

/*========================
Example boxes - Display
==========================*/

/*=================
Border Style Boxes
===================*/

/*No Style - Control*/
/*Hidden*/
/*Dotted*/
/*Dashed*/
/*Solid*/
/*Double*/
/*Groove*/
/*Ridge*/
/*Inset*/
/*Outset*/

/*============
Border Radius
==============*/

/*No radius - control*/
/*Round*/
/*Rounder*/
/*Roundest*/

/*============
Border Madness
==============*/

/*============
Border Image
==============*/

/*Image*/
/*Colour Gradient*/

/*======
Outline
=======*/

/*==============
Background Clip
================*/

/*Example boxes of color, colour gradient, and image to look like they are stacked on each other*/

/*No clip - control*/
/*Border Clip*/
/*Padding Clip*/
/*Content Clip*/
/*Text Clip*/

/*=================
The little touches
==================*/

/*In case of image not found*/
#box-img:after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  border: 1px dashed var(--dGreen);
  background-color: var(--silver);
  z-index: 1;
  font-family: verdana;
  font-size: 0.8em;
  content: "" attr(alt) " was not found";
}
/*=============
Responsiveness
===============*/

/*==========================
Ye old timer printing view
===========================*/
